@charset "UTF-8";

body {
    background-color: #BBF2CF;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #4F6657;
}

h1#principal{
    background-color:#4F6657;;
    text-align: center;
    color: #dfe5e1;
}

h2{
    color: #80A68E;
}
p{
    color: black;
}

.basico{
    color: #a68080;
}

.intermediario{
    color: #a6a380;;
}

.avancado{
    color: #80A68E;
}