@charset "UTF-8";

/*Todas as demais mídias*/

/*typical device breakpoints
****************************
pequenas telas: até 600px
celular: de 600px ate 768px
tablet: 768px ate 992px
desktop: 992px ate 1200px
telas grandes: acima de 1200px
*/

@media print { /*impressão*/
    body{
        background-image: url(../imagens/back-print.jpg) ; /*desnecessario para impressão*/
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    main{
        border: 2px solid black;
    }
    main::after{
        content: 'essa impressão foi feita atraves do site www.cursoemvideo';
        text-decoration: overline;
    }
    main h1{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#tv{display: none;}
    img#pc{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
        img#phone{display: none;}
        img#tablet{display: block;}
        img#print{display: none;}
        img#tv{display: none;}
        img#pc{display: none;}
}


@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#tv{display: none;}
    img#pc{display: block;}
}
@media screen and (min-width: 1200px) { /*telas grandes*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#tv{display: block;}
    img#pc{display: none;}

    main{
        width: 700px;
    }
}